*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-color:rgb(178, 90, 236);
    --primary-color: rgb(32, 4, 37);
    --secundary-color:rgb(122, 75, 122);
    --fonte-selecionada:"Bona Nova SC"
}
body{
    background-color:blueviolet;
    color:var(--primary-color);
}
.barra{
    width: 100%;
    padding: 2rem;
    position: fixed;
    box-shadow: 1px 2px var(--secundary-color);

}